<div class="background-picture">

    <div class="dynamic-all">
        <div class="dynamic-all-1">
            <div class="dynamic-all-1-1">
                <div class="dynamic-all-1-1-1">
                    <div class="dynamic-all-1-1-1-1"></div>
                    <div class="dynamic-all-1-1-1-2">
                        <h3>低落星语</h3>
                    </div>
                </div>

                <div class="dynamic-all-1-1-2">
                    <div class="dynamic-all-1-1-2-1">
                        <div class="el-rate_project-detail_owner-rate">
                            <div class="el-rate__item"></div>
                            <div class="el-rate__item"></div>
                            <div class="el-rate__item"></div>
                            <div class="el-rate__item"></div>
                            <div class="el-rate__item"></div>
                        </div>
                        <div class="dynamic-all-1-1-2-1-2"></div>
                    </div>

                    <div class="dynamic-all-1-1-2-2">
                        <div class="dynamic-all-1-1-2-2-1">
                            <span>需求完成</span>
                        </div>
                        <div class="dynamic-all-1-1-2-2-1">
                            <span>企划选定</span>
                        </div>
                    </div>
                </div>

            </div>
            <!--左一-->

            <div class="dynamic-all-1-2">
                <h5 class="project-detail__info-title">截稿日期</h5>
                <p class="project-detail__info-content">2019-05-31</p>
                <h5 class="project-detail__info-title">单张稿酬预算</h5>
                <p class="project-detail__info-content">￥ 300 ~ 500</p>
                <h5 class="project-detail__info-title">手续费率</h5>
                <p class="project-detail__info-content">5%</p>
                <h5 class="project-detail__info-title">9 天 22 小时 31 分后关闭应征</h5>
                <button data-v-9cc01a40="" type="button" class="mhs-button mhs-button--primary mhs-button--large is-block">
                    <i class="icon-application"></i>
                    <span>应征企划</span>
                </button>
            </div>
            <!--左二-->
        </div>




        <div class="dynamic-all-2">
            <!--右1-->
            <h1 class="project-detail__project-title">自设壁纸</h1>
            <div class="dynamic-all-2_1">
                <div data-v-33755253="" class="project-detail__info-navbar">
                    <span data-v-33755253="" class="project-detail__created-at">企划发布于 2019-04-26 08:37:00</span>
                    <span data-v-33755253="" class="project-detail__category">个人 · 壁纸</span>
                    <span data-v-33755253="" class="project-detail__report">
                        <span data-v-33755253="">
                            举报企划
                        </span>
                    </span>
                </div>

                <!--<div data-v-33755253="" class="project-detail__flow-tips-wrapper">-->
                    <!--<img data-v-33755253="" src="/images/flow-f_看图王.jpg">-->
                <!--</div>-->
                <section data-v-33755253="" class="project-detail__info-section">
                    <h4 data-v-33755253="" class="project-detail__section-title">企划需求详情</h4>
                    <div data-v-33755253="" class="project-detail__demand-list">
                        <div data-v-33755253="" class="project-detail__demand">
                            <span data-v-33755253="" class="project-detail__demand-label">风格：</span>
                            <span data-v-33755253="" class="project-detail__demad-content">风格不限</span>
                        </div>
                        <div data-v-33755253="" class="project-detail__demand">
                            <span data-v-33755253="" class="project-detail__demand-label">颜色模式：</span>
                            <span data-v-33755253="" class="project-detail__demad-content">RGB模式</span>
                        </div>
                        <div data-v-33755253="" class="project-detail__demand">
                            <span data-v-33755253="" class="project-detail__demand-label">规格：</span>
                            <span data-v-33755253="" class="project-detail__demad-content">1920 x 1080 px（高清电脑屏幕）</span>
                        </div>
                        <div data-v-33755253="" class="project-detail__demand">
                            <span data-v-33755253="" class="project-detail__demand-label">稿件格式：</span>
                            <span data-v-33755253="" class="project-detail__demad-content">JPG、PNG</span>
                        </div>
                        <div data-v-33755253="" class="project-detail__demand">
                            <span data-v-33755253="" class="project-detail__demand-label">发布权限：</span>
                            <span data-v-33755253="" class="project-detail__demad-content">需按约定公开发布</span>
                        </div>
                    </div>
                </section>
                <section data-v-33755253="" class="project-detail__info-section">
                    <h4 data-v-33755253="" class="project-detail__section-title">企划补充内容</h4>
                    <div data-v-33755253="" class="project-detail__summary">
                        戴眼镜褐色头发的少年坐在夏日公园的长椅上看书，阳光穿过树影照在他的身上，整体背景是绿色（盛夏草木葱茏的感觉）背景不需要太精细，加一点光影，如果我选定了再发人设图可以吗(｡ゝω・｡)ゞ
                    </div>
                </section>


            </div>
            <section data-v-33755253="" class="project-detail__info-section project-detail__phase">
                <h4 data-v-33755253="" class="project-detail__section-title">企划流程</h4>
                <div data-v-33755253="" role="alert" class="el-alert project-detail__phase-tips el-alert--warning"><!---->
                    <div class="el-alert__content"><!---->企划方选定合作画师后，将按照下方流程支付保证金到平台进行担保。
                        <br data-v-33755253="">画师确认保证金支付后，应按照对应节点提交进度稿件，供企划方审核。
                        <i class="el-alert__closebtn el-icon-close" style="display: none;"></i>
                    </div>
                </div>
                <section data-v-33755253="" class="project-detail__phase-wrapper">
                    <section data-v-33755253="" class="mhs-steps">
                        <div data-v-33755253="" class="mhs-step is-finished">
                            <section class="mhs-step__header">
                                <div class="mhs-step__name" style="color: rgb(102, 102, 102);">开始合作</div>
                            </section>
                            <section class="mhs-step__main">
                                <div class="mhs-step__line"></div>
                                <div class="mhs-step__point"><!----></div>
                            </section>
                            <section class="mhs-step__footer">
                                <div class="mhs-step__name" style="color: rgb(102, 102, 102);">0%</div>
                            </section>
                        </div>
                        <div data-v-33755253="" class="mhs-step is-finished">
                            <section class="mhs-step__header">
                                <div class="mhs-step__name" style="color: rgb(102, 102, 102);">草稿</div>
                            </section>
                            <section class="mhs-step__main">
                                <div class="mhs-step__line"></div>
                                <div class="mhs-step__point"><!----></div>
                            </section>
                            <section class="mhs-step__footer">
                                <div class="mhs-step__name" style="color: rgb(102, 102, 102);">20%</div>
                            </section>
                        </div>
                        <div data-v-33755253="" class="mhs-step is-finished">
                            <section class="mhs-step__header">
                                <div class="mhs-step__name" style="color: rgb(102, 102, 102);">线稿</div>
                            </section>
                            <section class="mhs-step__main">
                                <div class="mhs-step__line"></div>
                                <div class="mhs-step__point"><!----></div>
                            </section>
                            <section class="mhs-step__footer">
                                <div class="mhs-step__name" style="color: rgb(102, 102, 102);">30%</div>
                            </section>
                        </div>
                        <div data-v-33755253="" class="mhs-step is-finished">
                            <section class="mhs-step__header">
                                <div class="mhs-step__name" style="color: rgb(102, 102, 102);">上色</div>
                            </section>
                            <section class="mhs-step__main">
                                <div class="mhs-step__line"></div>
                                <div class="mhs-step__point"><!----></div>
                            </section>
                            <section class="mhs-step__footer">
                                <div class="mhs-step__name" style="color: rgb(102, 102, 102);">60%</div>
                            </section>
                        </div>
                        <div data-v-33755253="" class="mhs-step is-finished">
                            <section class="mhs-step__header">
                                <div class="mhs-step__name" style="color: rgb(102, 102, 102);">收稿并支付</div>
                            </section>
                            <section class="mhs-step__main">
                                <div class="mhs-step__line"></div>
                                <div class="mhs-step__point"><!----></div>
                            </section>
                            <section class="mhs-step__footer">
                                <div class="mhs-step__name" style="color: rgb(102, 102, 102);">100%</div>
                            </section>
                        </div>
                        <div data-v-33755253="" class="mhs-step is-finished">
                            <section class="mhs-step__header">
                                <div class="mhs-step__name" style="color: rgb(102, 102, 102);">收稿并支付</div>
                            </section>
                            <section class="mhs-step__main">
                                <!--<div class="mhs-step__line"></div>-->
                                <div class="mhs-step__point"><!----></div>
                            </section>
                            <section class="mhs-step__footer">
                                <div class="mhs-step__name" style="color: rgb(102, 102, 102);">100%</div>
                            </section>
                        </div>
                    </section>
                </section>
            </section>
        </div>

        <div class="dynamic-all-3">
            <div data-v-abae3a06="" data-v-ead05b20="" class="project-detail__application-title">
                <span data-v-abae3a06="" data-v-ead05b20="" class="project-detail__application-title-label">应征画师列表</span>
                <section data-v-abae3a06="" data-v-ead05b20="">
                    <span data-v-abae3a06="" data-v-ead05b20="" class="project-detail__application-count">本企划共应征画师 0 名</span>
                    <span data-v-abae3a06="" data-v-ead05b20="" class="project-detail__bided-count">企划方选定 0 名</span>
                </section>
            </div>
            <div data-v-99e231ee="" data-v-abae3a06="" class="project-detail__application-cell" data-v-ead05b20="">
                <section data-v-99e231ee="" class="application-cell__author-info">
                    <a data-v-99e231ee="" href="/users/%E6%A0%B8%E6%A1%83%E9%85%A5susu?role=painter" class="" target="_blank">
                        <div data-v-3b575a4c="" data-v-99e231ee="" class="avatar-wrapper hoverable is-round" style="flex: 0 0 90px; width: 90px; height: 90px; margin-right: 30px; padding-bottom: 0px;">
                            <section data-v-3b575a4c="" class="avatar-wrapper__img-wrapper" style="width: 90px; height: 90px;"><!---->
                                <img data-v-3b575a4c="" src="https://images.mihuashi.com/uploads/user/avatar/110353/09e4a18393c04a3aacda18c1d9ae92f2." class="avatar-wrapper__avatar border" style="width: 90px; height: 90px; border-color: rgb(236, 236, 236);">
                            </section>
                        </div>
                    </a>
                    <section data-v-99e231ee="" class="application-cell__artist-info">
                        <p data-v-99e231ee="" class="application-cell__artist-name">
                            <span data-v-99e231ee="">核桃酥susu</span>
                            <section data-v-d4e45e62="" data-v-99e231ee="" class="artist-badges"><!---->
                                <span data-v-366ff824="" data-v-d4e45e62="" class="mhs-badge mhs-badge--normal">
                                <a data-v-366ff824="" href="/artist-questionnaire" class="" target="_blank">
                                    <img data-v-366ff824="" src="https://images.mihuashi.com/misc/badges/painter_quality.png" class="el-tooltip" aria-describedby="el-tooltip-9892" tabindex="0">
                                </a>
                            </span>
                            </section>
                            <!--<button data-v-99e231ee="" type="button" class="mhs-button application-cell__artist-report mhs-button&#45;&#45;text mhs-button&#45;&#45;small">&lt;!&ndash;&ndash;&gt; &lt;!&ndash;&ndash;&gt;-->
                            <!--<span>举报</span>-->
                            <!--</button>-->
                        </p>
                        <div data-v-99e231ee="" class="application-cell__artist-credit">
                            <div data-v-99e231ee="" role="slider" aria-valuenow="5" aria-valuetext="" aria-valuemin="0" aria-valuemax="5" tabindex="0" class="el-rate application-cell__artist-rate">
                            <span class="el-rate__item" style="cursor: auto;">
                                <i class="el-rate__icon el-icon-star-on" style="color: rgb(247, 186, 42);"><!---->
                                </i>
                            </span>
                                <span class="el-rate__item" style="cursor: auto;">
                                <i class="el-rate__icon el-icon-star-on" style="color: rgb(247, 186, 42);"><!----></i>
                            </span>
                                <span class="el-rate__item" style="cursor: auto;">
                                <i class="el-rate__icon el-icon-star-on" style="color: rgb(247, 186, 42);"><!----></i>
                            </span>
                                <span class="el-rate__item" style="cursor: auto;">
                                <i class="el-rate__icon el-icon-star-on" style="color: rgb(247, 186, 42);"><!----></i>
                            </span>
                                <span class="el-rate__item" style="cursor: auto;">
                                <i class="el-rate__icon el-icon-star-on" style="color: rgb(247, 186, 42);"><!----></i>
                            </span><!---->
                            </div>
                            <span data-v-99e231ee="">共 9 条评价</span>
                        </div>
                    </section>
                </section>
                <div data-v-99e231ee="" class="application-cell__application-image-list">
                    <section class="el-container">
                        <div class="">
                            <div data-v-452834b4="" data-v-99e231ee="" class="application-cell__application-image mhs-img is-hoverable">
                                <div data-v-452834b4="" class="mhs-img__hover-shade">

                                </div>
                                <img data-v-452834b4="" class="mhs-img__img is-hoverable is-bordered is-responsive" data-src="https://images.mihuashi.com/2019/05/02/16/b0xw22tagmgsan5edp1csa44v5lbbbxi.jpeg!artwork.square.s" src="https://images.mihuashi.com/2019/05/02/16/b0xw22tagmgsan5edp1csa44v5lbbbxi.jpeg!artwork.square.s" lazy="loaded" style="border-color: rgb(236, 236, 236);"> <!---->
                            </div>
                        </div>
                        <div class="">
                            <div data-v-452834b4="" data-v-99e231ee="" class="application-cell__application-image mhs-img is-hoverable">
                                <div data-v-452834b4="" class="mhs-img__hover-shade"></div>
                                <img data-v-452834b4="" class="mhs-img__img is-hoverable is-bordered is-responsive" data-src="https://images.mihuashi.com/2019/01/06/03/8en18p3cafmn9fd082qba9orvenfiaeh.jpg!artwork.square.s" src="https://images.mihuashi.com/2019/01/06/03/8en18p3cafmn9fd082qba9orvenfiaeh.jpg!artwork.square.s" lazy="loaded" style="border-color: rgb(236, 236, 236);"> <!---->
                            </div>
                        </div>
                        <div class="">
                            <div data-v-452834b4="" data-v-99e231ee="" class="application-cell__application-image mhs-img is-hoverable">
                                <div data-v-452834b4="" class="mhs-img__hover-shade">
                                </div>
                                <img data-v-452834b4="" class="mhs-img__img is-hoverable is-bordered is-responsive" data-src="https://images.mihuashi.com/2019/01/18/05/c7mrd7kiiyj5fde0ldhnqqtgjicoqel8.jpeg!artwork.square.s" src="https://images.mihuashi.com/2019/01/18/05/c7mrd7kiiyj5fde0ldhnqqtgjicoqel8.jpeg!artwork.square.s" lazy="loaded" style="border-color: rgb(236, 236, 236);"> <!---->
                            </div>
                        </div>
                        <div class="">
                            <div data-v-452834b4="" data-v-99e231ee="" class="application-cell__application-image mhs-img is-hoverable">
                                <div data-v-452834b4="" class="mhs-img__hover-shade"></div>
                                <img data-v-452834b4="" class="mhs-img__img is-hoverable is-bordered is-responsive" data-src="https://images.mihuashi.com/2018/08/13/10/x90u3zbhekaz4ip57rgh97bnjadcyonk.jpg!artwork.square.s" src="https://images.mihuashi.com/2018/08/13/10/x90u3zbhekaz4ip57rgh97bnjadcyonk.jpg!artwork.square.s" lazy="loaded" style="border-color: rgb(236, 236, 236);"> <!---->
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>

    </div>

</div>