<div class="banner">
    <img src="/images/background.jpg">
    <h1>不论何种需求，轻松找到您的专属画师！</h1>
    <p>在线雇佣，快速合作，信誉保证。<br>10000+位精选画师在此等待，只为创作属于您的精美画作。</p>
    <div>
        <a href="/fabu"><button>发布需求</button></a>
        <a href="#"><button>成为画师</button></a>
    </div>
</div>