<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/zwhStyle.css' />
    <link rel='stylesheet' href='/stylesheets/wcjStyle.css' />
      <link rel='stylesheet' href='/stylesheets/cc.css'/>

    <script src="/javascripts/jquery-3.3.1.min.js"></script>
      <script src="/javascripts/JS.js"></script>
      <script src="/javascripts/jquery-1.9.1.min.js"></script>
      <script src="/javascripts/showdate.js"></script>
    <script src="/javascripts/MyScript.js"></script>

  </head>
  <body>
  <div class="navBar">
      <ul class="left">
          <li><a href="/">首页</a></li>
          <li><a href="#">画师</a></li>
          <li><a href="#">作品</a></li>
          <li><a href="project">企划</a></li>
      </ul>
      <ul class="right">
          <li><a href="#">登录</a></li>
          <li class="register"><a href="#"><button>注册</button></a></li>
      </ul>
  </div>
    {{{body}}}
  </body>
</html>
