<div class="container">
    <div class="leftList">
        <section>
            <h4>企划类型</h4>
            <div class="content">
                <div id="isActive">全部</div>
                <div>人物设计</div>
                <div>概念设计</div>
                <div>立绘</div>
                <div>卡牌</div>
                <div>CG</div>
                <div>场景</div>
                <div>海报</div>
            </div>
        </section>
        <section>
            <h4>排序方式</h4>
            <select class="menu">
                <option>按发布时间</option>
                <option>按稿酬预算</option>
                <option>按应征人数</option>
                <option>按雇主信誉</option>
            </select>
        </section>
    </div>
    <div class="rightList">
        <div id="clone" class="project">
            <section>
                <a id="projectId">
                    <div class="project-header">
                        <h5 id="projectName">自用头像</h5>
                        <div id="projectPrice">100~200<span> RMB/张</span></div>
                    </div>
                    <div id="projectDate" class="project-time">
                        <span>发布于 </span>2019-05-02
                    </div>
                    <div class="project-value">
                        <div>
                            <header class="project-value-title">用途·类型</header>
                            <div id="projectType" class="project-value-value">个人·头像</div>
                        </div>
                        <div>
                            <header class="project-value-title">截稿日期</header>
                            <div id="projectDeadline" class="project-value-value">2019-05-31</div>
                        </div>
                        <div>
                            <header class="project-value-title">风格要求</header>
                            <div id="projectStyle" class="project-value-value">风格不限</div>
                        </div>
                        <div>
                            <header class="project-value-title">应征人数</header>
                            <div id="projectPeople" class="project-value-value">4</div>
                        </div>
                    </div>
                </a>
            </section>
        </div>
    </div>
</div>